body{
    font-family: 'Oswald', sans-serif;
    margin:auto;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 32px;
}
h4{
    text-align:center;
    font-size: 32px ;
}
p{
    font-weight: 700;
}
.orange-color{
    color:chocolate;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;

}
.half-width img{
    width: 70%;
}
.images{
    width: 435px;
    clip-path: circle();
}
.link-button{
    text-decoration: none;
    background-image:radial-gradient(yellow,red);
    color:black;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.badge{
    background-image: url(images/badge.jpg);
    background-repeat: no-repeat;
    padding-left: 85px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 150px;
}
.experiences{
    color:darkslategrey;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 85px;
}
.experience-item{
    width: 50%;
    margin-left: 60px;
    margin-right: 1.5%;
    padding-right: 1%;
    padding-left: 25px;
    box-shadow: 10px 15px 40px darkgray;
    border-radius: 15px;
}
#fullstack-web{
    border-left:7px solid;
    border-image:linear-gradient(yellow,tomato);
    border-image-slice: 1; 
}
#junior-web{
    border-left:7px solid;
    border-image:linear-gradient(#410b02a8,yellow);
    border-image-slice: 1; 
}
#mini-web{
    border-left:7px solid;
    border-image:linear-gradient(red,blue);
    border-image-slice: 1; 
}
.thankful{
    text-align: center;
    background-image: linear-gradient(red,orange);
}

footer p {
    text-align: center;
    background-image: -webkit-linear-gradient(orange,tomato);
    color:black;
    font-weight:700;
}